extends layout

block main
  section.home
    .row.inset
      .cute-12
        h1.banner-header Yo.
    .row.inset
      .cute-12
        p
          | I'm a Software Developer / 
          a(href='google') Software Hacker
          |  who enjoys the theory and practice of programming. The culture of building things, solving problems, and sharing my work with a community is what drives me. My goal is to work on projects I care about and give contributions that will benefit the software community.
      .cute-6-tablet
        .tags
          h3 Interests
          span.tag
            | Free Software
          span.tag
            | Open Source
          span.tag
            | GNU/Linux
          span.tag
            | Functional Programming
          span.tag
            | Javascript
      .cute-6-tablet
        .info.tags
          h3 Info
          span.tag
            a(href='//github.com/seanstrom') Github
          span.tag
            a(href='//twitter.com/seanghagstrom') Twitter
          span.tag
            a(href='mailto:sean@seanhagstrom.com') sean@seanhagstrom.com
    .row
      .cute-12
        h1 Projects
    hr
    .row.inset
      .cute-6
        h2 N/A
        p Nothing here yet, but plenty of stuff on the way.
    .row
      .cute-12
        h1 Talks
    hr
    .row.inset
      .cute-6
        h2 N/A
        p Nothing here yet, but plenty of stuff on the way.
    .row
      .cute-12
        h1 Writing
    hr
    .row.inset
      .cute-6
        if collections.essays && collections.essays.length > 0
          each essay in collections.essays
            .post-item
              h2
                a(href='/'+essay.path)!= essay.title
                span - #{moment(essay.publishDate).format("YYYY")}
        else
          h2= collections.essays.length
          p Nothing here yet, but plenty of stuff on the way.
