@import './github-gist-theme'

*
  box-sizing border-box

h1 { font-size: 1.875rem; line-height: 36px; margin-bottom: 20px; }
h2 { font-size: 1.5rem; line-height: 20px; margin-bottom: 20px; }
h3 { font-size: 1.25rem; line-height: 20px; margin-bottom: 20px; }
h4 { font-size: 1rem; line-height: 20px; margin-bottom: 20px; }
h5 { font-size: 0.875rem; line-height: 20px; margin-bottom: 20px; }
h6 { font-size: 0.75rem; line-height: 20px; margin-bottom: 20px; }

html
  font-family "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif
  font-weight 300

  pre
  code
    @extend .hljs

  pre
    border 1px solid #f2f2f2
    font-size 110%
    margin-bottom 30px
    margin-top 30px

  code
    font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
    margin-bottom 0 

  blockquote
    margin-left 0

p > code
  background-color rgba(0,0,0,0.04)
  border 1px solid #f2f2f2
  border-radius 3px
  display inline
  font-size 85%
  margin 0
  padding 0.2em
  padding-top 0.2em
  padding-bottom 0.2em

.home
  .post-item
    a
      margin-right 10px
    h2
      font-weight 400

html body
  background-color #FAFAFA
  border-top 5px solid #CF9A9A
  color #333
  // font 13px/1.4 Helvetica,arial,sans-serif
  margin 0

  header
    border-bottom-width 2px
    border-bottom-color #eaeaea
    padding 20px 0 10px

  footer
    border-top-color #eaeaea
    border-top none

main
  padding 10px 0

nav ul li
  margin-right 0

body hr
  background-color #eaeaea
  color #eaeaea
  height 2px

.cf:before
.cf:after
  content ""
  display table

.cf:after
  clear both

.container
  margin-left auto
  margin-right auto
  // max-width 980px
  padding 0 20px
  // width 100%

.banner-header
  margin 0

.menu
  float left

.dash
  margin 0 4px

.pipe:before
  color #F0E7E7
  content '|'
  font-size 40px
  margin 0 10px 0 10px

.pipe.first:before
  margin 0 10px 0 0

.site-header
  display inline-block

.site-header a
  color #333

.site-header a:hover
  color #333
  text-decoration none
  
.site-logo + hr
  margin-bottom 10px

.me
  border-radius 5px
  width 100%

.placeholder
  display inline-block
  min-height 1px


.menu-link
  color #333
  text-decoration none

.menu-linkhover
  color #105CB6

article
  font-weight 500
  p
    font-size 130%
    line-height 140%
  img
    max-width 100%

.home p
.home ul
  font-size 130%
  line-height 140%

.tags
  .tag
    background-color #fff
    padding 5px
    border-radius 3px
    border 1px solid #ccc
    margin 0 2px 2px 0
    display inline-block

body
  padding 0 1em
