@import './github-gist-theme'

*
  box-sizing border-box

h1 { font-size: 1.875rem; line-height: 36px; margin-bottom: 20px; }
h2 { font-size: 1.5rem; line-height: 20px; margin-bottom: 20px; }
h3 { font-size: 1.25rem; line-height: 20px; margin-bottom: 20px; }
h4 { font-size: 1rem; line-height: 20px; margin-bottom: 20px; }
h5 { font-size: 0.875rem; line-height: 20px; margin-bottom: 20px; }
h6 { font-size: 0.75rem; line-height: 20px; margin-bottom: 20px; }

a
 color #3F997C
 &:hover
   color #3F997C

html, body
  height 100%
  min-height 100%

.container-long
  border 2px solid #F1F1F1
  max-width 60rem
  margin 0 auto
  // min-height 100%
  background #fff
  padding 0 1em 22px

html
  // background url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/crossword.png")
  background-color #f9f9f9
  padding 20px 0 30px
  border-top 10px solid #02B87D

  .row
    max-width 60rem
  pre
  code
    @extend .hljs

  pre
    border 1px solid #f2f2f2
    font-size 99%
    margin-bottom 30px
    margin-top 30px

  code
    font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
    margin-bottom 0

  blockquote
    margin-left 0

p > code
  background-color rgba(0,0,0,0.04)
  border 1px solid #f2f2f2
  border-radius 3px
  display inline
  font-size 85%
  margin 0
  padding 0.2em
  padding-top 0.2em
  padding-bottom 0.2em

.home
  .post-item
  .talk-item
    h2
      font-weight 400
    .item-title
      margin-right 0.25em
    .item-media
      margin-right 0.1em

  .talk-item
    .item-date
      margin-left 0.25em

html body
  background none
  color #333
  margin 0
  font-family "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif
  font 1.125em "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif
  font-weight 300
  line-height 1.3em

  header
    border-bottom-width 2px
    // border-bottom-color #eaeaea
    border-bottom-color #f1f1f1
    padding 40px 0 10px

  footer
    border-top none
    margin 3px auto 0
    padding 0 1.125rem
    width 60rem

main
  padding 10px 0

nav ul li
  margin-right 0

body hr
  background-color #eaeaea
  color #eaeaea
  height 2px

.cf:before
.cf:after
  content ""
  display table

.cf:after
  clear both

.container
  margin-left auto
  margin-right auto
  padding 0 20px

.banner-header
  margin 0

.menu
  float left

.dash
  margin 0 4px

.separator:before
.pipe:before
  color #e2e2e2
  font-size 40px
  margin 0 10px 0 10px

.pipe:before
  content '|'

.separator:before
  content '\2301'

.separator.first:before
.pipe.first:before
  margin 0 10px 0 0

.site-header
  display inline-block

.site-header a
  color #333

.site-header a:hover
  color #333
  text-decoration none

.site-logo + hr
  margin-bottom 10px

.me
  border-radius 5px
  width 100%

.placeholder
  display inline-block
  min-height 1px


.menu-link
  color #333
  font-size 0.875rem
  text-decoration none

.menu-linkhover
  color #105CB6

article
  font-weight 500
  p
    font-size 100%
  img
    max-width 100%

.home p
.home ul

.tags
  .tag
    background-color #fafafa
    padding 5px
    border-radius 3px
    border 1px solid #e2e2e2
    margin 0 4px 4px 0
    display inline-block
    font-size 0.875rem

body
  padding 0 1em

.home .about
  margin-bottom 0.6rem

  p
    margin-bottom 0

.section-title
  margin-bottom 0
